table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: gray;
}
table,
td,
th {
  border: 3px solid rgb(15, 49, 68);
  padding: 10px;
}
th {
  height: 50px;
}
td {
  height: 30px;
}
thead {
  background-color: indigo;
}
@font-face {
  font-family: vazir;
  src: url(./fonts/fonts/Vazir.woff);
}
body{
  direction: rtl;
}
h1.card{
  font-family: vazir;
  background-color: darkorange;
  text-align: center;
  border: double slateblue;
}
.navbar{
  border: ridge greenyellow;
}
.card1{
  background-color: hotpink;
 border-style: double;
}
